:root{
    --basic: #EEEEEE;
    --black: #000000;
    --white: #FFFFFF;
    --brown: #283136;
    --sites-btn: #FB565A;
    --sites-active: #D7373B;
    --sites-focus: #E74246;
    --application-btn: #00CA74;
    --application-hover: #00BC6C;
    --application-active:#00AA62;
    --presentation-btn: #EFC84A;
    --presentation-focus: #EAB534;
    --prexentation-active: #E5A722;
}


ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}


p{
    font-size: 16px;
    line-height: 24px;
    color: var(--brown)
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.page-body {
    font-family: "Roboto", "Arial", sans-serif;
    min-width: 1170px;
}


.wrapper-content{
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/*навигация начало*/
.main-header{
    height: 114px;
    background-color: var(--basic);
}

.header-wrapper{
    display: flex;
    justify-content: flex-start;
}

.header-logo-nav{
    padding-top:48px;
    padding-right:202px;
}

.header-logo-nav[href]:focus,
.header-logo-nav[href]:hover{
    opacity:.8;
}
.header-logo-nav[href]:active{
    opacity:.3;
}

.header-site-nav{
    line-height: 30px;
    display: flex;
    padding: 0;
    padding-top: 76px;
    padding-right: 245px;
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
    justify-content: start;
    flex-wrap: wrap;
}
    
.header-site-nav li{
    margin-left:44px;
}

.header-site-nav li:first-child{
    margin-left:0;
}

.header-cart-nav{
    line-height: 30px;
    margin-top: 76px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
}

.header-cart-nav li{
    position: relative;
    padding-left: 40px;
}

.header-cart-nav li::before{
    position: absolute;
    top: 7px;
    left: 0;
    width: 15px;
    height: 15px;
    content: '';
    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-cart-nav-link,
.header-site-nav-link{
    display: inline-block;
    vertical-align: top;
    color: var(--black);
}

.header-cart-nav-link[href]:focus,
.header-cart-nav-link[href]:hover,
.header-site-nav-link[href]:focus,
.header-site-nav-link[href]:hover{
    color: var(--sites-btn);
}

.header-cart-nav-link:active,
.header-site-nav-link:active{
    color: var(--black);
    border-bottom:2px solid var(--sites-btn);
}

.header-site-nav-link--active{
    color: var(--black);
    border-bottom:2px solid var(--sites-btn);
}
/*навигация конец*/

/*карусель начало*/
.visually-hidden{
    position: absolute;
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
}

.slider{
    position: relative;
    background-color: var(--basic);
}

.slider-controls{
    font-size: 0;
    position: absolute;
    z-index: 100;
    bottom: 104px;
    left: 50%;
    width: 160px;
    height: 18px;
    text-align: center;
}

.slider-controls label{
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    cursor: pointer;
    vertical-align: top;
    border-radius: 50%;
}

.slider-controls label::after{
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 8px;
    width: 18px;
    height: 18px;
    content: '';
    border-radius: 50%;
    background: var(--white);
}

.slider-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item{
    display: none;
    padding: 78px 0 80px 0;
}

.slider-item:nth-child(1){
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-position: 93% 18px;
}

.slider-item:nth-child(2){
    background-image: url(../img/slide2.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3){
    background-image: url(../img/slide3.png);
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

#product-1:checked~
.slider-list .slider-item:nth-child(1){
    display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2){
    display: block;
}

#product-3:checked~.slider-list 

.slider-item:nth-child(3){
    display: block;
}

#product-1:checked~.slider-controls 

.slider-controls-item--1::before,
#product-2:checked~.slider-controls 

.slider-controls-item--2::before,
#product-3:checked~.slider-controls 

.slider-controls-item--3::before{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    margin: -4px;
    content: '';
    border: 2px solid #c1c1c1;
    border-radius: 50%;
    background-color: inherit;
}

.slider-item h3{
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;
    color: var(--black);
}

.slider-item p{
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
}

.button{
    font-size: 16px;
    line-height: 18px;
    display: block;
    max-width: 240px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    border: none;
    border-radius: 3px;
    background-color: var(--sites-btn);
}

.button:focus,
.button:hover{
    background-color: var(--sites-focus);
}

.button:active{
    color: rgba(255,255,255,.3);
    background-color: var(--sites-active);
    box-shadow: 0 3px rgba(0,0,0,.1) inset;
}
/*карусель конец*/

/*index-предложения*/
.service,
.service-item{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.service{
    margin-top:80px;
    padding-right:60px;
    padding-bottom:80px;
}

.service p{
    color: var(--brown);
}

.service-item{
    width:100%;
    margin:0;
    padding:0;
    list-style:none;
}

.service-item li{
    padding-bottom:10px;
    flex-basis:300px;
}

.service-item h3,
.service-item p{
    margin:0;
}

.service-item img{
    padding-bottom:22px;
}

.service-item h3{
    font-size:24px;
    font-weight:700;
    font-style:normal;
    font-stretch:normal;
    line-height:26px;
    padding-bottom:16px;
    letter-spacing:normal;
    text-transform:uppercase;
    color:var(--black);
}

.service-item p{
    width:280px;
    padding-bottom:32px;
}

.service-item-button{
    width:160px;
    padding-top:17px;
    padding-bottom:17px;
    color:var(--white);
}

.service-item-button-pink{
    background-color:var(--sites-btn);
}

.service-item-button-pink:focus,
.service-item-button-pink:hover{
    background-color:var(--sites-focus);
}

.service-item-button-pink:active{
    color:rgba(255,255,255,.3);
    background-color:var(--sites-active);
    box-shadow:inset 0 3px 0 0 rgba(0,1,1,.1);
}

.service-item-button-green{
    background-color:var(--application-btn);
}

.service-item-button-green:focus,
.service-item-button-green:hover{
    background-color:var(--application-hover);
}

.service-item-button-green:active{
    color:rgba(255,255,255,.3);
    background-color:var(--application-active);
    box-shadow:inset 0 3px 0 0 rgba(0,1,1,.1);
}

.service-item-button-yellow{
    background-color:var(--presentation-btn);
}

.service-item-button-yellow:focus,
.service-item-button-yellow:hover{
    background-color:var(--presentation-focus);
}

.service-item-button-yellow:active{
    color:rgba(255,255,255,.3);
    background-color:var(--prexentation-active);
    box-shadow:inset 0 3px 0 0 rgba(0,1,1,.1);
}
/*index-предложения конец*/

/*о нас начало*/
.about{
    display: flex;
    margin-bottom: 45px;
    border-top: 2px solid var(--basic);
}

.about-description{
    font-weight: 400;
    line-height: 24px;
    margin-top: 27px;
    padding-right: 150px;
    color: var(--brown);
    flex-basis: 660px;
    flex-grow: 1;
}

.about-description-title{
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 34px;
    color: var(--black);
}

.about-description-text{
    margin-bottom: 22px
}

.about-description-title-list{
    font-weight: 700;
    display: inline-block;
    margin-bottom:20px;
    vertical-align: top;
    text-transform: uppercase;
    color: var(--black);
}

.about-description ul{
    margin: 3px;
    padding: 0;
    list-style: none;
}

.about-description li{
    position: relative;
    padding-right: 0;
    padding-bottom: 25px;
    padding-left: 32px;
}

.about-description li:before{
    position: absolute;
    top: 10px;
    left: -3px;
    width: 25px;
    height: 2px;
    content: '';
    background-color: var(--sites-btn);
}

.about-facts p{
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
}

.about-facts ul{
    display: flex;
    margin-top: 11px;
    padding: 0;
    list-style: none;
    color: var(--brown);
    justify-content: space-between;
}

.about-facts li{
    font-weight: 400;
    margin-top: 43px;
}

.about-facts span{
    font-size: 45px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 24px;
    vertical-align: top;
    color: var(--black);
}

.about-facts{
    padding-top: 282px;
    background-image: url(../img/facts.png);
    background-repeat: no-repeat;
    background-position: 10% 37px;
    flex-basis: 365px;
}

.table-specifications{
    padding-top:47px;
}
/*о нас конец*/

/*партнеры начало*/
.brands{
    margin-bottom: 78px;
    padding-top: 60px;
    padding-bottom: 23px;
    border-top: 2px solid var(--basic);
    border-bottom: 2px solid var(--basic);
}

.brands-list{
    display: flex;
    margin: 0;
    margin-right: 44px;
    margin-left: 30px;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brands-item{
    position: relative;
}

.brands-item:after{
    position: absolute;
    top: -30px;
    right: -50px;
    bottom: 0;
    width: 2px;
    height: 52px;
    margin-top: auto;
    margin-bottom: auto;
    content: '';
    background-color: var(--basic);
}

.brands-item:last-child:after{
    width: 0;
    height: 0;
}

.brands-item img{
    opacity: .2;
}

.brands-item img:hover{
    opacity: 1;
}
/*парнеры конец*/


/*карта начало*/
.map-wrapper{
    position: relative;
    display: flex;
    height: 416px;
    background-color: #b5b5b5;
    justify-content:center;
}


.map-wrapper iframe{
    z-index: 20;
    width: 100%;
    min-width: 1200px;
    border: none;
}

.map-container{
    position: absolute;
    z-index: 30;
    top: -8px;
    right: 0;
    left: 0;
}

.map-address{
    line-height: 18px;
    box-sizing: border-box;
    width: 319px;
    margin-top: 55px;
    padding-top: 47px;
    padding-right: 50px;
    padding-bottom: 45px;
    padding-left: 50px;
    background-color: var(--white);
}

.map-address b{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 24px;
    vertical-align: top;
    color: var(--black);
}

.map-address .address{
    font-weight: 400;
    font-style: normal;
    margin-bottom: 16px;
    padding-right: 5px;
    color: #666;
}

.map-address .address-phone{
    font-weight: 400;
    font-style: normal;
    margin-top: 18px;
    color: #666;  
}

.address-phone-link{
    color: #666;
}

.writeus-button{
    width: 219px;
}

.map-wrapper{
    align-items: center;
}
/*карта конец*/


/*footer-кнопки соц.сетей*/
.footer-social{
    display: flex;
    margin: 72px auto;
}

.footer-social a{
    position: relative;
    display: inline-block;
    width: 79px;
    height: 79px;
    vertical-align: top;
    border-radius: 50%;
    background-color: #e1e1e1;
}

.footer-social ul{
    display: flex;
    width: 399px;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

.footer-social li{
    margin-right: 10px;
}

.footer-social a::after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    content: '';
    background-repeat: no-repeat;
    background-position: 0 0;
}

.vk-icon::after{
    width: 26px;
    height: 15px;
    background-image: url(../img/vk-icon.svg);
}

.fb-icon::after{
    width: 12px;
    height: 22px;
    background-image: url(../img/fb-icon.svg);
}

.in-icon::after{
    width: 21px;
    height: 21px;
    background-image: url(../img/in-icon.svg);
}

.footer-social a:focus,
.footer-social a:hover{
    background-color: var(--sites-focus);
}

.footer-social a:active{
    background-color: var(--sites-active);
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
}

.fb-icon:active::after,
.in-icon:active::after,
.vk-icon:active::after{
    opacity: .3;
}

.footer-discount{
    flex-grow: 1;
}

.footer-discount b{
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
    color: var(--black);
}

.footer-discount span{
    font-weight: 400;
    line-height: 22px;
    color: #444;
}

/*модалка*/

@keyframes bounce{
    0%{
        transform: translateY(-2000px);
        will-change: transform;
    }

    70%{
        transform: translateY(30px);
        will-change: transform;
    }

    90%{
        transform: translateY(-10px);
        will-change: transform;
    }

    100%{
        transform: translateY(0);
        will-change: transform;
    }
}

@keyframes shake{
    0%,
    100%{
        transform: translateX(0);
        will-change: transform;
    }

    10%,
    30%,
    50%,
    70%,
    90%{
        transform: translateX(-10px);
        will-change: transform;
    }

    20%,
    40%,
    60%,
    80%{
        transform: translateX(10px);
        will-change: transform;
    }
}

.modal{
    position: fixed;
    z-index: 50;
    top: 120px;
    left: 50%;
    display: none;
    box-sizing: border-box;
    width: 960px;
    margin-left: -480px;
    padding-top: 68px;
    padding-right: 90px;
    padding-bottom: 83px;
    padding-left: 98px;
    background-color: var(--white);
    box-shadow: 0 20px 40px 0 #5e5e5e;
}

.modal-show{
    display: block;
    animation: bounce 0.6s;
}

.modal-error{
    animation: shake .6s;
}

.wrapper-modal{
    display: flex;
    justify-content: space-between;
}

.modal h2{
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    margin-top: 0;
    margin-bottom: 25px;
}

.modal-close{
    font-size: 0;
    position: absolute;
    top: 79px;
    right: 100px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    opacity: .3;
    border: 0;
    outline: 0;
    background-color: transparent;
    background-image: url(../img/button-close.svg);
}

.modal-close:focus,
.modal-close:hover{
    opacity: 1;
}

.modal-close:active{
    opacity: .1;
}

.send-us-form input[type=email],
.send-us-form input[type=text],
.send-us-form textarea{
    color: #444;
    border: 2px solid #d7dcde;
    outline: 0;
}

.send-us-form input[type=email],
.send-us-form input[type=text]{
    box-sizing: border-box;
    width: 360px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
}

.send-us-form textarea{
    box-sizing: border-box;
    width: 740px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 15px;
}

.send-us-form input[type=email]:hover,
.send-us-form input[type=text]:hover,
.send-us-form textarea:hover{
    border: 2px solid #b4b9bb;
    outline: 0;
}

.send-us-form input[type=email]:focus,
.send-us-form input[type=text]:focus,
.send-us-form textarea:focus{
    color: var(--black);
    border: 2px solid var(--black);
}

.send-us-form input::placeholder,
.send-us-form textarea::placeholder{
    font-weight: 400px;
    opacity: 1;
}

.send-us-form input[type=email]:invalid{
    color: var(--sites-focus);
    border-color: var(--sites-focus);
}

.send-us-form-button{
    width: 260px;
    margin-top: 25px;
    padding-top: 17px;
    padding-bottom:17px;
    color: var(--white);
    background-color: var(--sites-btn);
}

.send-us-popup-button{
    width: 219px;
    margin-top: 36px;
}

.send-us-form-button:focus,
.send-us-form-button:hover{
    background-color: var(--sites-focus);
}

.send-us-form-button:active{
    color: rgba(255,255,255,.3);
    background-color: var(--sites-active);
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
}

/*catalog*/

/*вступление начало*/
.intro{
    padding-top: 94px;
    padding-bottom: 123px;
    background-color :var(--basic);
}

.intro h1{
    margin: 0; 
    padding: 0;
}

.page-title{
    font-family: Roboto,Arial,sans-serif;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    text-align: center;
}
/*вступление конец*/

.catalog{
    display: flex;
    justify-content: center;
}

.catalog-list{
    display: flex;
    width: 760px;
    margin-right: auto;
    padding-left: 79px;
    list-style: none;
    flex-wrap: wrap;
    justify-content:space-between;
}

.catalog-sorting{
    display: flex;
    margin: 0;
    margin-left: 76px;
    padding: 0;
    padding-top: 38px;
    padding-bottom: 22px;
    align-items: center;
}

.catalog-sorting h2{
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: normal;
    text-transform: uppercase;
}

.sort-list{
    display: flex;
    padding-left: 276px;
    list-style: none;
    color: var(--black);
}

.sort-list li{
    padding-right: 20px;
    text-transform: uppercase;
}
    
.catalog-list .catalog-template{
    position: relative;
    margin-bottom: 27px;
    padding-top: 40px;
    flex-basis: 360px;
}

.catalog-list .catalog-template::before{
    position: absolute;
    top: 0;
    width: 360px;
    height: 40px;
    content: '';
    opacity: .12;
    background-color: var(--white);
    background-image: url(../img/browser.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-list .catalog-template:hover::before{
    opacity: 1;
}

.catalog-list .catalog-template:hover{
    box-shadow: 0 6px 15px 0 rgba(0,1,1,.25);
}

.catalog-popup-caption a{
    color:var(--black);
}

.catalog-popup-caption:focus,
.catalog-popup-caption:hover{
    color:var(--sites-btn);
}

.catalog-popup-caption:active{
    color:rgba(0,0,0,.3);
}

.catalog-popup-caption{
    font-size: 18px;
    font-weight: 700px;
    line-height: 30px;
    text-transform: uppercase;
    color: #666;
}

.catalog-popup{
    font-weight: 400;
    position: absolute;
    z-index: 1;
    bottom: 0;
    overflow-y: auto;
    width: 360px;
    max-height: 580px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    opacity: 0;
    color: #666;
    background-color: var(--basic);
    align-items: center;
}

.catalog-template:hover 
.catalog-popup{
    opacity: 1;
}

.catalog-template{
    width: 190px;
}

.catalog-popup p{
    width: 230px;
    margin: 0 auto;
}

.catalog-popup h3{
    margin-top: 26px;
    margin-bottom: 7px;
    color: var(--black);
}

.catalog-popup-button{
    width: 200px;
    margin-top: 31px;
    margin-right: auto;
    margin-bottom: 43px;
    margin-left: auto;
    color: var(--white);
    background-color: var(--sites-btn);
}

.catalog-popup-button:focus,
.catalog-popup-button:hover{
    background-color: var(--sites-focus);
}

.catalog-popup-button:active{
    color: var(--white);
    background-color: var(--sites-active);
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
}

.sort-list-up{
    position: relative;
    padding-left: 20px;
}

.sort-list-up::before{
    position: absolute;
    top: 5px;
    right: 0;
    width: 11px;
    height: 10px;
    content: '';
    transform: rotate(180deg);
    opacity: .2;
    background-image: url(../img/icon-sort.svg);
}

.sort-list-down:hover::before,
.sort-list-up:hover::before{
    opacity: .4;
}

.sort-list-down:active::before,
.sort-list-up:active::before{
    opacity: 1;
}

.sort-list-down{
    position: relative;
    padding-right: 25px;
}

.sort-list-down::before{
    position: absolute;
    top: 5px;
    right: 0;
    width: 11px;
    height: 10px;
    content: '';
    opacity: .2;
    background-image: url(../img/icon-sort.svg);
}

.sort-list-item{
    font-size: 14px;
    color: rgba(0,0,0,.3);
}

.sort-list-item:focus,
.sort-list-item:hover{
    color: rgba(0,0,0,.6);
}

.sort-list-item:active{
    color: var(--black);
}

.sort-list-item--active{
    color: var(--black);
}

.filter-item{
    width: 322px;
    margin: 0;
    margin: 58px auto;
    padding: 0;
    border: none;
}

.range-filter{
    width: 260px;
    margin-top: 49px;
}

.filter-item legend{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.range-controls{
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.range-controls .scale{
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar{
    width: 70%;
    height: 2px;
    background: var(--application-btn);
}

.range-controls .toggle{
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    cursor: pointer;
    border: 8px solid var(--white);
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min{
    left: 19px;
}

.range-controls .toggle-max{
    left: 161px;
}

.price-controls{
    font-size: 0;
}

.price-controls label{
    font-size: 16px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-transform: uppercase;
}

.price-controls input{
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: var(--brown);
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price{
    text-align:right
}

.pagination-list{
    font-weight: 500;
    display: flex;
    max-width: 760px;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 52px;
    padding-left: 79px;
    list-style: none;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
}

.pagination-item{
    padding-bottom: 10px;
}

.pagination-item a,
.pagination-item a:link,
.pagination-item a:visited{
    display: block;
    margin-right: 10px;
    padding: 17px 21px;
    color: var(--black);
    border-radius: 3px;
    background-color: var(--basic);
    box-shadow: none;
}

.pagination-item a:focus,
.pagination-item a:hover{
    color: rgba(0,0,0,1);
    background-color: #dfdfdf;
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
}

.pagination-item a:active{
    color: rgba(0,0,0,.3);
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
}

.pagination-item:last-child a{
    padding-right: 77px;
    padding-left: 79px;
    text-transform: uppercase;
}

.pagination-item:last-child a:focus,
.pagination-item:last-child a:hover{
    background-color: #dfdfdf;
}

.pagination-item:last-child a:active{
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,.1);
}

.pagination-item-active a,
.pagination-item-active a:active,
.pagination-item-active a:focus,
.pagination-item-active a:hover{
    padding: 14px 18px;
    cursor: default;
    border: 3px solid #dbdbdb;
    background-color :var(--white);
    box-shadow: none;
}

.catalog-filter-grid-group ul{
    display: block;
    margin: 0;
    margin-top: 21px;
    padding: 0;
    list-style: none;
}

.filter-option{
    padding-bottom: 16px;
}

.radio{
    position: relative;
    padding-left: 40px;
}

.radio:focus,
.radio:hover{
    opacity: .6;
}

.radio:active{
    opacity: 1;
}

.radio:disabled{
    opacity: .25;
}

.radio-input{
    position: absolute;
    clip: rect(0 0 0 0);
    appearance: none;
}

.radio-box{
    position :absolute;
    width: 25px;
    height: 25px;
    margin-left: -39px;
    background-image: url(../img/radio-off.svg);
}

.radio-input:checked+.radio-box{
    background-image: url(../img/radio-on.svg);
}

.catalog-filter-features ul{
    display: block;
    margin: 0;
    margin-top: 21px;
    padding: 0;
    list-style: none;
}

.filter-color{
    padding-bottom: 10px;
}

.option{
    display: block;
}

.check{
    font-size: 16px;
    position: relative;
    padding-left: 40px;
    letter-spacing: .14px;
}

.check:focus,
.check:hover{
    opacity: .6;
}

.check:active{
    opacity: 1;
}

.check:disabled{
    opacity: .25;
}

.check-input{
    position:absolute;
    clip:rect(0 0 0 0);
    appearance: none;
}

.check-box{
    position: absolute;
    width: 23px;
    height: 23px;
    margin-left: -39px;
    background-image: url(../img/checkbox-off.svg);
}

.check-input:checked+.check-box{
    width: 27px;
    background-image: url(../img/checkbox-on.svg);
}

.filter-button{
    width: 260px;
    height: 50px;
    color: var(--black);
    background-color: var(--basic);
}

.filter-button:focus,
.filter-button:hover{
    background-color: #dfdfdf;
}

.filter-button:active{
    color: rgba(0,0,0,.3);
    background-color: rgba(0,1,1,.1);
}
